.box{
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 50px 20px;
    margin: 50px 10px 10px 10px;
    border-radius: 25px;
}
.hover{
    background-color: antiquewhite;
}
.box-center{
    margin-right: auto;
    margin-left: auto;
    pointer-events: none;
}
.box-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}
.svg-container{
    position: relative;
    height: 15;
    width: 20%;
    padding: 1;
    padding-bottom: 10%;
    pointer-events: none;
}
.scaling-svg{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}